/*/// Text styles ///*/
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-size: 8pt;
    justify-content: center;
}

P{
    font-family: "Poppins", sans-serif;
    font-size: 8pt;
}

H1{
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 10px;
    text-align: center;
}

H2{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 50px;
    text-align: center;
}

h4{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
}

/*/// Blocks ///*/

#klant{
    display: block;
    align-items: middle;
}

Header{
    padding: 150px 150px 200px 150px;
    justify-content: center;
    background-image: url("https://github.com/hogeschoolnovi/frontend-html-css-domeinshop/blob/master/assets/images/mountains.jpg?raw=true");
}
Form {
    display: flex;
    justify-content: center;
    
}
/*/// Domain checker ///*/

.domain-checker {
    text-align: center;
}

.input-container {
    display: flex;
    border: 2px solid #1C2B32;
    border-radius: 50px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    text-align: center;
    
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
    
}

input[type="text"]::placeholder {
    color: #1C2B32;
    
}

button {
    background-color: #1C2B32;
    color: white;
    padding: 10px 20px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button:hover {
    background-color: #0b5171;
}

.callcenterbutton {
     background-color: #1C2B32;
    color: white;
    padding: 10px 20px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.callcenterbutton:hover{
    background-color: #0b5171;
    
}
/*/// Footer ///*/

Main{
    justify-content: center;
}

.klantbeoordeling{
    margin: 50px 150px 50px 150px;
    justify-content: center;
    padding: 50px 50px 50px 50px ;
    box-shadow: 5px 5px 15px #899CA0;;
    border-radius: 10px;
}

.callcenter{
    margin: 10px 150px 10px 150px;
    justify-content: center;
    padding: 15px 1px 50px 1px ;
}
summary{
    margin:5px;
    cursor: pointer;
}

.faq{
    background-color: #899CA0; 
    padding: 15px;
    border-radius: 8px;
    color: white;
}

Footer{
    background-color: #1C2B32;
    color: #979797;
    padding: 10px;
    text-align: center;
}